# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
libraries/Maven__io_undertow_undertow_core_2_1_3_Final.xml
libraries/Maven__io_undertow_undertow_servlet_2_1_3_Final.xml
libraries/Maven__io_undertow_undertow_websockets_jsr_2_1_3_Final.xml
libraries/Maven__jakarta_servlet_jakarta_servlet_api_4_0_3.xml
libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
libraries/Maven__org_jboss_spec_javax_annotation_jboss_annotations_api_1_3_spec_2_0_1_Final.xml
libraries/Maven__org_jboss_spec_javax_websocket_jboss_websocket_api_1_1_spec_2_0_0_Final.xml
libraries/Maven__org_jboss_threads_jboss_threads_3_1_0_Final.xml
libraries/Maven__org_jboss_xnio_xnio_api_3_8_0_Final.xml
libraries/Maven__org_jboss_xnio_xnio_nio_3_8_0_Final.xml
libraries/Maven__org_springframework_boot_spring_boot_starter_undertow_2_3_1_RELEASE.xml
libraries/Maven__org_wildfly_client_wildfly_client_config_1_0_1_Final.xml
libraries/Maven__org_wildfly_common_wildfly_common_1_5_2_Final.xml
